// css reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//helper class

.round-m{
  border-radius: 1rem;
}
.round-l{
  border-radius: 2.5rem;
}

.fs-small-8{
  font-size: .8rem;
}
.cursor-p{
  cursor: pointer;
}
.bg-ededed{
  background-color: #ededed;
}
.bg-perpur-6a1cc0{
  background-color: #6a1cc0;
}
.bg-474747{
  background-color: #474747;
}
.text-7b15c5{
  color:#7b15c5;
}
.w-24-24{
  width: 24px;
  height: 24px;
}
.fw-very-bold{
  font-weight: 900;
}
.p-2-12{
  padding: 11px 12px 11px 12px;;
}
.p-2-11{
  padding: 11px;
}
.bg-gradient-p-lp{
  background-image: linear-gradient(270deg, #7B16C6 0%, #C82090 59%);;
}
.pink-color-hoverAni{
  transition: all .2s;
  cursor: pointer;
  &:hover{
    color:#ec406a !important;
  }
}









@font-face {
  font-family: tanha;
  src: url(../fonts/tanha-font-v0.9/Tanha.woff) format("woff");
}


body {
  font-family: tanha;
  background-color: #f5f5f8;

}

.nav--item{
  transition: all .4s;
  cursor:pointer;
  font-size: 1rem;
  font-weight: 800;
  &--active{
    color: #c82090;
    &--hover:hover{
     color: #c82090 !important; 
     transform: scale(1.1);
    }
  }
  &:hover{
    transform: scale(1.1);
    color: #ec406a;
  }
}
.vh-85{
  height: 85vh;
}

.bg-img-top-box1{
  background-image: url('../img/slide-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  
}

.card-animation-scale-shadow{
  transition: all .4s;
  &:hover{
    transform: translateY(-10px);

    box-shadow: 0 0px 20px rgb(170, 170, 170);
  }
}
.btn-purple{
  transition: all .4s;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
  &:active{
    transform: scale(.98);
  }
}
.parallax {
  /* The image used */
  background-image: url('../img/IMG_4926.png')   ,linear-gradient(270deg, #7B16C6 0%, #C82090 61%);

  /* Set a specific height */
  min-height: auto; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}